#
# Systemd unit file for dnscrypt-proxy 
#

[Unit]
Description=dnscrypt-proxy
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/tmp/
ExecStart=/sbin/dnscrypt-proxy --local-address=0.0.0.0:53 --logfile=/var/log/dnscrypt.log --resolver-address=208.67.220.220 --provider-name=2.dnscrypt-cert.opendns.com --provider-key=B735:1140:206F:225D:3E2B:D822:D7FD:691E:A1C3:3CC8:D666:8D0C:BE04:BFAB:CA43:FB79sa

[Install]
WantedBy=multi-user.target
